.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



footer {
    background-color: lightgrey;
    text-align: center;
    padding: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.info {
    width: 200px;
    text-align: center;
    padding: 20px;
}